node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp
webapp/test/flpSandbox.html
webapp/test/flpSandbox.js
webapp/test/initFlpSandbox.js
webapp/test/locate-reuse-libs.js
webapp/test/testsuite.qunit.html
webapp/test/testsuite.qunit.js
webapp/test/integration/AllJourneys.js
webapp/test/integration/NavigationJourney.js
webapp/test/integration/opaTests.qunit.html
webapp/test/integration/opaTests.qunit.js
webapp/test/integration/arrangements/Startup.js
webapp/test/integration/pages/App.js
webapp/test/integration/pages/Master.js
webapp/test/unit/AllTests.js
webapp/test/unit/unitTests.qunit.html
webapp/test/unit/unitTests.qunit.js
webapp/test/unit/controller/Master.controller.js
.xs-app.json.swp
